<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shaban.jama.eindopdracht">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mantequilla"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Toevoegen"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Leren" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Subdoelen" android:parentActivityName=".Leren"/>
        <activity android:name=".Subdoelen_done" android:parentActivityName=".Subdoelen"/>
        <activity
            android:name=".Status"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".registeer" android:parentActivityName=".Login"/>
        <activity android:name=".Login" android:parentActivityName=".Instellingen"/>
        <activity android:name=".Dataverwerking" android:parentActivityName=".Login"/>

        <activity android:name=".Instellingen"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>